# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environment
# ==========================================================

venv/
.venv/
env/

# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/

# ==========================================================
# Python Environment
# ==========================================================

.env

# ==========================================================
# Build Files
# ==========================================================

build/
dist/
*.egg-info/

# ==========================================================
# Model Files
# ==========================================================

*.pt
*.pth

# ==========================================================
# Logs
# ==========================================================

*.log

# ==========================================================
# Test Cache
# ==========================================================

.pytest_cache/

# ==========================================================
# Operating System
# ==========================================================

Thumbs.db
.DS_Store

# ==========================================================
# Jupyter
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# Generated Outputs
# ==========================================================

outputs/checkpoints/
outputs/logs/

# ==========================================================
# Temporary Files
# ==========================================================

*.tmp
*.temp